@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Ürün Ekle</h2>
<form id="productForm" method="post" enctype="multipart/form-data">
    <label for="name">Ürün Adı:</label>
    <input type="text" id="name" name="Name" required>

    <label for="stock">Stok Miktarı:</label>
    <input type="number" id="stock" name="Quantity" step="0.01" required>

    <label for="unit">Birim:</label>
    <select id="unit" name="Status">
        <option value="kg">Kilogram (kg)</option>
        <option value="lt">Litre (lt)</option>
    </select>

    <label for="price">Fiyat (TL):</label>
    <input type="number" id="price" name="Price" step="0.01" required>

    <label for="category">Kategori:</label>
    <select id="category" name="Status">
        <option value="süt_ürünleri">Süt Ürünleri</option>
        <option value="et_ürünleri">Et Ürünleri</option>
        <option value="meyveler">Meyveler</option>
        <option value="sebzeler">Sebzeler</option>
    </select>

    <label for="image">Ürün Resmi:</label>
    <input type="file" id="image" name="image" accept="image/*" />

    <button type="submit">Ürün Ekle</button>
</form>
